.app.dark {
  --bg-color: #040438;
  --inverted-bg-color: #8b8f8b;
  --primary-color: #0cb20c;
  --secondary-color: green;
  --inverted-primary-color: #0b2559;
  --inverted-secondary-color: #0b2b7a;
}