.app.light {
  --bg-color: #8b8f8b;
  --inverted-bg-color: #040438;

  --primary-color: #0b2559;
  --secondary-color: #0b2b7a;
  --inverted-primary-color: #0cb20c;
  --inverted-secondary-color: green;
}